body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 383px);
    grid-template-rows: repeat(3, 230px);    
    border: 1px solid #090909;
}

.box {
    width: 100%;
    height: 100%;
    border: 0.5px solid #0b0b0b; 
}

.red { background-color: #ff0000; }
.green { background-color: #008000; }
.orange { background-color: #ff6600; }
.dark-purple { background-color: #800080; }

.pink { background-color: #ff00ff; }
.blue { background-color: #0000ff; }
.brown { background-color: #a52a2a; }
.light-purple { background-color: #f080ff; }

.indigo { background-color: #4b0082; }
.yellow { background-color: #ffd700; }
.teal { background-color: #5f9ea0; }
.cyan { background-color: #00ffff; }