* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: white;
}

.header {
    position: relative;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: white;
}

.header .img {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.header .img img {
    height: 90px; 
}

.top-nav {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.top-nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 25px;
    font-weight: 400;
    cursor: pointer;
    color: #333;
}

.main-wrapper {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 120px);
    display: block;
    overflow: hidden;
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    background-color: #4b0082; 
    padding-top: 30px;
}

.sidebar ul li {
    list-style: none;
    color: white;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar ul li:hover {
    background-color: #3b0066;
}

.content-area {
    margin-left: 200px; 
    padding: 25px;
    background-color: #f9f9f9;
}

.image-container {
    position: relative;
    width: 100%;
    height: 350px;
    border: 3px solid #006400; 
    margin-bottom: 25px;
}

.img-box {
    position: relative;
    width: 33.33%;
    height: 100%;
    float: left;
    border-right: 2px solid #006400;
    background-color: #eee;
    overflow: hidden;
}

.img-box:last-child {
    border-right: none;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20px;
}

.text-content {
    position: relative;
    width: 100%;
}

.text-content p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #222;
    text-align: justify;
}

.footer {
    position: relative;
    height: 40px;
    width: 100%;
    background-color: #777;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    clear: both; 
}