body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 383px);
    grid-template-rows: repeat(3, 230px);
    border: 2px solid #0b0b0b;
}

.box {
    width: 100%;
    height: 100%;
}

.red {
    background-color: #ff0000;
    grid-column: span 2;
}

.green { background-color: #008000; }

.orange {
    background-color: #ff6600;
    grid-column: 4;
    grid-row: 1 / span 3;
}

.purple { background-color: #800080; }
.pink { background-color: #ff00ff; }
.blue { background-color: #0000ff; }

.brown { background-color: #a52a2a; }

.indigo {
    background-color: #4b0082;
    grid-column: span 2;
}